<div id="<%= dom_id equipment %>">
  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Equipment type name:</strong>
    <%= equipment.equipment_type_name %>
  </p>

</div>
